################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/templates
/VkStorage.Application/bin/Debug/net8.0
/VkStorage.Application/obj
/VkStorage.Domain/bin/Debug/net8.0
/VkStorage.Domain/obj
/VkStorage.Infrastructure/bin/Debug/net8.0
/VkStorage.Infrastructure/obj
/VkStorage.Web/bin/Debug/net8.0
/VkStorage.Web/obj
/VkStorage.Application/Static.cs
/VkStorage.Domain/bin/Release/net8.0
/VkStorage.Infrastructure/bin/Release/net8.0
/VkStorage.Web/bin/Release/net8.0
/VkStorage.Web/TmpFiles
/VkStorage.Application/bin/Release/net8.0
/VkStorage.Application/Globals.cs
